# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
cleartrack-backend/uploads/*
!cleartrack-backend/uploads/.gitkeep

# Build and Temp files
dist/
dist-ssr/
*.local
.npm
coverage/
.DS_Store
